<div class="container-fluid">
    <div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <img src="../../assets/2.jpg" class="img-fluid mx-auto" style="height: 300px;" alt="...">
        </div>
        <div class="col-6 bg-custom">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi aspernatur aliquam accusamus molestias
                asperiores obcaecati inventore atque? Provident facilis impedit repellendus soluta? Repellat nihil
                expedita voluptates molestiae porro, consequatur quaerat.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, minima vero ea itaque enim culpa
                perspiciatis labore nemo? Ipsum vel itaque similique maiores autem, odit quam! Fugit porro voluptas
                rerum.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquid quasi optio eveniet laboriosam
                beatae autem dignissimos molestiae assumenda neque ullam, odit eum distinctio atque veniam similique ut
                quibusdam ea.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 bg-custom">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi aspernatur aliquam accusamus molestias
                asperiores obcaecati inventore atque? Provident facilis impedit repellendus soluta? Repellat nihil
                expedita voluptates molestiae porro, consequatur quaerat.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, minima vero ea itaque enim culpa
                perspiciatis labore nemo? Ipsum vel itaque similique maiores autem, odit quam! Fugit porro voluptas
                rerum.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquid quasi optio eveniet laboriosam
                beatae autem dignissimos molestiae assumenda neque ullam, odit eum distinctio atque veniam similique ut
                quibusdam ea.</p>
        </div>

        <div class="col-6">
            <img src="../../assets/4.jpg" class="img-fluid mx-auto my-auto d-block" style="height: 300px;" alt="...">
        </div>
    </div>
    </div>
</div>